/* ----- Reset simple ----- */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg,#3e265e, #6a48a5);
    font-family: "Inter" , sans-serif;
    display: flex;
    justify-content:  center;
    align-items: center;
    height: 100vh;
    color: #f2e9ff;
}    

/* ----- container ----- */
.container {
    text-align: center;
    width: 90%;
    max-width: 500px;
}

/* ----- Titre ----- */ 
.title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    opacity: 0.9;
}

/* ----- Cercle qui respire -----*/
#breath-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 20px;

    /* blanc nacré subtil qui se fond */
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));

    /* lueur très douce */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);

    /* transition fluide pour le scale */
    transition: transform 4.4s ease-in-out, box-shadow 4.4s ease-in-out;
}

/* ----- Bouton -----*/
#breathBtn {
    padding: 12px 25px;
    margin-bottom: 20px;
    font-size: 1rem;
    background: #b38aff;
    border: none;
    border-radius: 10px;
    color: #2b1f3a;
    cursor: pointer;
    transition: background 0.3s ease;
}

#breathBtn:hover {
    background :#c9aaff;
}

/* ----- message fade in/out ----- */
#message {
    font-size: 1.1rem;
    height: 30px;
    opacity: 0;
    transition: opacity 1.5s ease;
}

.fade-in { opacity: 1; }

.fade-out { opacity: 0; }

/* ----- Zone de texte ----- */
 #userText {
    width:  100%;
    height: 120px;
    margin-top: 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
 }

 #userText::placeholder {
    color: #d8caff;
 }

 /* ----- Bouton envoyer ----- */
 .sendbtn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background: #e6d2ff;
    color: #2b1f3a;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3 ease;
 }

 .sendbtn:hover {
    background:  #f2e7ff;
 }

 .intro-box {
    background: rgba(255, 255, 255, 12);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    margin: 20px 0;
    text-align: center;
 }

 .intro-box p {
    font-size:  1rem;
    line-height: 1.6;
    color: #6b4b6d;
    margin: 0;
 }

 .description-box {
    background: rgba(255, 255, 255, 0.08);
    padding: 25px;
    border-radius:  20px;
    margin-top: 20px;
    color:#e2aee6;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
 }

 .description-box h2 {
    margin: 0 0 10px 0;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
 }